@import '../utils/mixins';

.form {
    padding: 1.5rem 1rem 0;

    &__group-salary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 2rem;
    }

    &__working-hours-input {
        padding-top: 1rem;
    }

    &__working-hours-text {
        display: flex;
        justify-content: center;
    }

    &__dolar-symbol {
        position: absolute; 
        margin-left: .5rem; 
        margin-top: .45rem;
    }

    &__salary-input {
        padding-left: 1.5rem;
    }

    .btn-block {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 0;
    }
}