button {
    &.btn-primary, &.btn-secondary, &.btn-floating  {
        background-color: #A358BA;
        border: 3px solid #7F4590;
        border-radius: 10px;
        color: #FFFFFF;
        font-weight: 600;

        &:focus {
            color: #FFFFFF !important;
            background-color: #A358BA !important;
            border-color: #7F4590 !important;
            outline-style: none;
        }

        &:active {
            background-color: #884a9b !important;
            border-color: #583064 !important;
        }

        &:hover {
            background-color: #884a9b !important;
            border-color: #583064 !important;
        }
    }
}

.btn-floating {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50% !important;
}

.alert {
    margin: 0 !important;
}