* {
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 1.75rem !important;
}

h3 {
    font-size: 1.25rem !important;
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

input { 
    border-radius: 5px !important;
}

label {
    font-weight: 700;
    text-align: left;
    margin: 0 !important;
    padding-left: 5px;
}

li {
    list-style: none;
}

a {
    color: inherit !important;

    &:active, &:focus, &:hover {
        text-decoration: none !important;
    }
}