.route-enter-active {
    transition: all .5s ease-out;
}

.route-enter {
    opacity: 0;
    transform: translateX(100px);
}

.route-leave-active {
    transition: all .5s;
}

.route-leave-to {
    opacity: 0;
    transform: translateX(-100px);
}

.list-enter-active, .list-leave-active {
    transition: all .5s;
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}