$gray-500: #0D0E0F;
$gray-600: #636363;
$gray-700: rgba(119, 119, 119, 0.5);
$gray-800: #cacaca;
$gray-900: #e6e6e6;
$green-500: #45de85;
$purple-200: #583064;
$purple-300: #713d81;
$purple-400: #884a9b;
$purple-500: #9744b1;
$purple-600: rgba(136, 74, 155, .3);
$purple-700: rgba(164, 74, 192, .9);
$red-500: #d30000;
$white: #fff;
