@import 'colors';

$primary-background-darker-color: $purple-300;
$primary-background-color: $purple-500;
$primary-background-lighter: $purple-600;
$primary-button-background: $purple-500;
$primary-background-button-lighter: $purple-700;
$primary-button-border: $purple-300;
$primary-text-color: $gray-500;

$secondary-background-color: $green-500;
$secondary-text-color: $gray-600;

$success-color: $green-500;
$error-color: $red-500;

$shadow: $gray-700;
$border: $gray-800;
$light-background-color: $gray-900;
$gray-background-color: $gray-800;